<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ConnectionString" value="Server=.;Database=BankDB;User Id=sa;Password=123456;" />
	</appSettings>

	<connectionStrings>
		<add name="MyDBConnection"
             connectionString="Server=.;Database=BankDB;User Id=sa;Password=123456;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>